*:focus {
  outline: none;
}

body {
background-color: #2b2b2b;
font-family: 'Inconsolata', 'monospace';
}

[contenteditable] {
  background-color: inherit;
  width: 95vw;
  height: 95vw;
  white-space: pre;
  margin: 2.5vh 2.5vw 2.5vh 2.5vw;
}
